/*
  VARIABLES    
*/
:root {
  --screen-size-xs: 0;
  --screen-size-sm: 576px;
  --screen-size-md: 768px;
  --screen-size-lg: 992px;
  --screen-size-xl: 1200px;
  --font-family-mono: monospace;
  --font-family-sans: sans-serif;
  --fsize: 10px;
}

/*
  GENERAL    
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Sans-Serif";
  font-size: 10px;
  background-color: #d9dcd6;
}

/*
  HEADER     
*/
.header {
  font-family: "Montserrat", "Sans-Serif";
  font-size: 2rem;

  background-color: #29313c;
  color: #ffffff;

  width: 100%;
  float: left;
  height: auto;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header nav {
  margin-left: -15px;
  margin-right: -15px;

  display: flex;
  flex-wrap: wrap;
}

.header nav .col1 {
  font-family: "Papyrus", "Montserrat", "Sans-Serif";
  font-style: italic;
  letter-spacing: 0.1rem;
  text-align: left;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 25%;
  max-width: 25%;
}

.header nav .col2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  display: inline-block;

  position: relative;
  width: 100%;
  padding: 15px;

  flex: 0 0 75%;
  max-width: 75%;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

.header a:hover {
  border-bottom: 1px solid #00bb3ea9;
  color: yellow;
}

.content a {
  /* color: #ffffff; */
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

/* .content a:hover {
  border-bottom: 1px solid #00bb3ea9;
  color: yellow;
} */

.hero {
  height: 640px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/pexels-ryutaro-tsukata.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
  CONTENT   
*/
.main {
  justify-content: center;
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ffffff;
  color: #00bb3ea9;
  margin-bottom: 20px;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content .col1 {
  font-family: "Papyrus", "Montserrat", "Sans-Serif";
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: left;

  border-right: 2px solid #00bb3ea9;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 25%;
  max-width: 25%;
}

.content .col2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  display: inline-block;

  position: relative;
  width: 100%;
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 0 0 75%;
  max-width: 75%;
}

.content .col2 .full {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
  padding: 15px;
}

.content .col2 .split {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 50%;
  padding: 15px;
}

/* FOOTER */
.footer {
  font-family: "Montserrat", "Sans-Serif";
  font-size: 2rem;

  background-color: #29313c;
  color: #ffffff;

  width: 100%;
  float: left;
  height: auto;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer nav {
  margin-left: -15px;
  margin-right: -15px;

  display: flex;
  flex-wrap: wrap;
}

.footer nav .col1 {
  font-family: "Papyrus", "Montserrat", "Sans-Serif";
  font-style: italic;
  letter-spacing: 0.1rem;
  text-align: left;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 25%;
  max-width: 25%;
}

.footer nav .col2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  display: inline-block;

  position: relative;
  width: 100%;
  padding: 15px;

  flex: 0 0 75%;
  max-width: 75%;
}

.footer h4 {
  display: inline-block;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

.footer a:hover {
  border-bottom: 1px solid #00bb3ea9;
  color: yellow;
}

.content a {
  /* color: #ffffff; */
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

.footer1 {
  justify-content: center;
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../images/arborday.jpg");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

.footer1 a {
  color: #00bb3ea9;
}

.footer1 a:hover {
  border-bottom: 1px solid #00bb3ea9;
  color: yellow;
}

.footer1 a:visited,
a:active {
  border-bottom: 1px solid #00bb3ea9;
  /* color: yellow; */
}

.footer1 a {
  /* color: #ffffff; */
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

.footer2 {
  height: 150px;
  width: auto;
  margin-bottom: 25px;
  background-image: url("../images/arborday.jpg");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 576px) {
  .header,
  .footer {
    background-color: green;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
  }

  .header nav .col1 {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .header nav .col2 {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .content .col1 {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    border-right: none;
    border-bottom: 2px solid #00bb3ea9;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .content .col2 {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer nav .col1 {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer nav .col2 {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }
}
