/*
  VARIABLES    
*/
:root {
  --working-area: 50%;
  --chocoyo-green: #276721;
  --chocoyo-yellow: #969c24;
  --chocoyo-green-dark: #0c1b07;
  --flower-orange: #ef6100;
  --screen-size-xs: 0;
  --screen-size-sm: 576px;
  --screen-size-md: 768px;
  --screen-size-lg: 992px;
  --screen-size-xl: 1200px;
  --header-font-family: "Papyrus", "Montserrat", "Sans-Serif";
  --body-font-family: "Montserrat", "Sans-Serif";
  --nav-font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "Sans-Serif";
  --fsize: 10px;
}

/*
  GENERAL    
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--fsize);
  background-color: white;
}

img {
  border-style: none;
  vertical-align: middle;
}

/*
  HEADER     
*/
header {
  /* background-image: url("../images/flowers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: var(--chocoyo-green-dark);
  color: var(--chocoyo-yellow);
  border: 1px dashed var(--chocoyo-green-dark);
  border-radius: 10px;

  height: 100px;
  width: var(--working-area);
  margin-right: auto;
  margin-left: auto;
}

header > h1 {
  font-family: var(--header-font-family);
  color: white;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-align: center;

  padding-top: 15px;
  width: 100%;
}

header > nav {
  font-family: var(--nav-font-family);
  font-size: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  padding: 15px;
}

header a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

header a:hover {
  color: yellow;
  border-bottom: 2px solid #00bb3ea9;
}

.hero {
  background-image: url("../images/chocoyos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 1px dashed var(--chocoyo-green-dark);
  border-radius: 10px;
  /* box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset */

  height: 940px;
  width: var(--working-area);
  margin: auto;
}

/*
  MAIN
*/
main {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */

  justify-content: center;
  border: 1px dashed var(--chocoyo-green-dark);
  border-radius: 10px;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  width: var(--working-area);
  margin-right: auto;
  margin-left: auto;
}

main > h1 {
  font-family: var(--body-font-family);
  color: var(--chocoyo-yellow);
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-align: center;

  padding-top: 15px;
  width: 100%;
}

/*
  CONTENT   
*/
.container {
  font-family: var(--nav-font-family);
  background-color: #ffffff;
  color: var(--chocoyo-green-dark);
  margin-bottom: 0px;
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container .heading {
  font-family: "Papyrus", "Montserrat", "Sans-Serif";
  /* font-style: italic; */
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: left;

  border-right: 1px solid var(--chocoyo-green-dark);

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 25%;
  max-width: 25%;
}

.container .content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  display: inline-block;

  position: relative;
  width: 100%;
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 0 0 75%;
  max-width: 75%;
}

.container .content > p {
  padding-bottom: 15px;
}

.container .content > blockquote {
  padding-left: 15px;
  font-style: italic;
}

.container .content .full {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
  padding: 15px;
}

.container .content .split {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 50%;
  padding: 15px;
}

.container a {
  /* color: #ffffff; */
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

/* FOOTER */
footer {
  /* background-image: url("../images/flowers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: var(--chocoyo-green-dark);
  color: var(--chocoyo-yellow);
  border: 1px dashed var(--chocoyo-green-dark);
  border-radius: 10px;

  /* height: 150px; */
  width: var(--working-area);
  margin-right: auto;
  margin-left: auto;
}

footer > h1 {
  font-family: var(--header-font-family);
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-align: center;

  padding-top: 15px;
  width: 100%;
}

footer > nav {
  font-family: var(--nav-font-family);
  font-size: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  padding: 15px;
}

footer nav .content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  text-align: center;
  display: inline-block;

  position: relative;
  width: 100%;
  padding: 15px;

  flex: 0 0 75%;
  max-width: 75%;
}

footer span {
  /* color: var(--chocoyo-yellow); */
  color: white;
  padding: 0px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;

  padding: 0px;
}

footer div > .phone::before {
  content: "Phone: ";
  text-decoration: none;
}

footer div > .email::before {
  content: "Email: ";
}

footer div > .github::before {
  content: "GitHub: ";
}

footer div > .twitter::before {
  content: "Twitter: ";
}

footer div > .spotify::before {
  content: "Spotify: ";
}

footer a::after {
  content: " |";
}

footer a:last-child::after {
  content: unset;
}

footer a:hover {
  border-bottom: 1px solid var(--chocoyo-green);
  color: yellow;
}

/* MEDIA QUERIES */
/* 
  Works well with Desktop, iPads, and Kindle Fire.

  TODO:
        Improve iPhone and Galaxy responsiveness.
*/
@media screen and (min-width: 0px) and (max-width: 1280px) {
  header,
  footer {
    background-color: var(--chocoyo-green);
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
  }

  header > h1,
  header > nav,
  footer > h1,
  footer > nav {
    font-size: 1rem;
  }

  .hero {
    display: none;
    /* transform: scale(0.5); */
  }

  main section div img {
    transform: scale(0.75);
  }

  .header nav .heading {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex-direction: column;
    flex-wrap: wrap;
  }

  .header nav .content {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .container .heading {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    border-right: none;
    border-bottom: 2px solid #00bb3ea9;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .container .content {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer nav .heading {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer nav .content {
    font-size: 1rem;
    text-align: center;
    padding: 5px 5px;

    flex: 0 0 100%;
    max-width: 100%;
  }
}
